demo/ontology-target-sharing/spicy/S_AD_VI_VH_VNM_5_1_2_0_1_2_1_1_1_25_25_60_0_0_1_0_1_0_0_0_0_1_1_1_1_2_Src.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="Source">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="test_ad_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nut_ad_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slope_ad_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="measure_ad_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_ad_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cheese_ad_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_ad_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="demand_vi_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="great_vi_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="affect_vi_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_vi_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_vi_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="warn_vi_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_vi_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="red_vi_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wheel_vh_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="work_vh_1_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="letter_vh_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="blue_vh_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="find_vnm_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attention_vnm_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_vnm_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="reveal_vnm_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_vnm_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="narrow_vnm_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="thank_ad_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stick_ad_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="twist_ad_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="account_ad_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="mixed_vi_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="small_vi_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brain_vi_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_vi_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="approval_vh_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="blow_vh_2_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="division_vh_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ready_vh_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="property_vh_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gun_vh_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_vh_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="powder_vh_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="use_vnm_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="paint_vnm_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="draw_vnm_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="collection_ad_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="handle_ad_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="die_ad_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_ad_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brown_ad_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hit_ad_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paint_ad_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="decision_ad_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_ad_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="organization_vi_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stick_vi_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slow_vi_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="word_vi_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="kind_vi_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prove_vi_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ring_vi_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="early_vi_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="violent_vi_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="love_vh_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="mind_vh_3_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="door_vh_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="charge_vh_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="certain_vh_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sugar_vh_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_vh_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bent_vh_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="crush_vnm_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="treat_vnm_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="political_vnm_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="language_vnm_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_vnm_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chalk_vnm_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="desire_ad_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="last_ad_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="found_ad_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="flower_vi_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="involve_vi_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pencil_vi_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grip_vi_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_vi_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="claim_vi_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="state_vi_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="egg_vi_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agency_vi_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complete_vi_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="death_vh_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="shake_vh_4_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vh_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vh_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="leather_vh_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="distribution_vh_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gold_vh_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pain_vh_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="probable_vnm_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="low_vnm_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="butter_vnm_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="copy_vnm_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thick_vnm_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="close_vnm_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sad_ad_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="root_ad_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="straight_ad_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_ad_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="question_ad_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="walk_ad_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="count_ad_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_ad_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="explain_ad_5_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="record_vi_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="probable_vi_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="goat_vi_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pick_vi_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="impulse_vh_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prose_vh_5_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agencies_vh_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="flat_vh_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sea_vnm_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="delicate_vnm_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bath_vnm_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="call_vnm_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="road_vnm_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="match_ad_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="debts_ad_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gain_ad_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="selection_vi_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="window_vi_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="increase_vi_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="female_vi_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ready_vh_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="round_vh_6_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="win_vh_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="act_vh_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="turn_vh_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chin_vh_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="summer_vnm_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="will_vnm_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="buy_vnm_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chain_vnm_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="appear_vnm_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="idea_vnm_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="common_ad_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="inform_ad_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="space_ad_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="art_ad_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fly_ad_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="late_ad_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="silver_vi_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="tight_vi_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stone_vi_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fertile_vi_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="respect_vi_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="interest_vi_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="condition_vh_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="connection_vh_7_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="heart_vh_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="seem_vh_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="disappear_vh_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="indicate_vh_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="awake_vh_7_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="shut_vnm_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="experience_vnm_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cover_vnm_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="allow_vnm_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="eat_vnm_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="poison_ad_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="opinion_ad_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_ad_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="snake_ad_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="jump_vi_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="lift_vi_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="discover_vi_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_vi_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="settle_vi_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="act_vi_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_vi_8_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="net_vi_8_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vi_8_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="observation_vh_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="like_vh_8_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="trick_vh_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="green_vh_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="jump_vh_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="enable_vh_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="opinion_ad_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prove_ad_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="base_ad_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="speak_ad_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="comb_ad_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="forgive_vi_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="government_vi_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="event_vi_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sort_vi_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mean_vi_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="desire_vi_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paste_vi_9_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="connection_ad_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ring_ad_10_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="room_ad_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="impulse_ad_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="get_vi_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="produce_vi_10_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_vi_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fork_vi_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stop_vi_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="choose_vh_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ink_vh_10_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="conscious_vh_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="lead_vh_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="basin_vh_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="come_vh_10_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="require_vnm_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="keep_vnm_10_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="learn_vnm_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="plane_vnm_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="parallel_vnm_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grain_vnm_10_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="lift_vnm_10_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thin_vnm_10_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="yellow_vnm_10_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
<xs:key name="test_ad_1_nl0_ce0nut_ad_1_nl0_ae0ke0"><xs:selector xpath="./test_ad_1_nl0_ce0"/><xs:field xpath="nut_ad_1_nl0_ae0ke0"/></xs:key>
<xs:key name="demand_vi_1_nl0_ce0great_vi_1_nl0_ae0ke0"><xs:selector xpath="./demand_vi_1_nl0_ce0"/><xs:field xpath="great_vi_1_nl0_ae0ke0"/></xs:key>
<xs:key name="find_vnm_1_nl0_ce0attention_vnm_1_nl0_ae0ke0"><xs:selector xpath="./find_vnm_1_nl0_ce0"/><xs:field xpath="attention_vnm_1_nl0_ae0ke0"/></xs:key>
<xs:key name="thank_ad_2_nl0_ce0stick_ad_2_nl0_ae0ke0"><xs:selector xpath="./thank_ad_2_nl0_ce0"/><xs:field xpath="stick_ad_2_nl0_ae0ke0"/></xs:key>
<xs:key name="mixed_vi_2_nl0_ce0small_vi_2_nl0_ae0ke0"><xs:selector xpath="./mixed_vi_2_nl0_ce0"/><xs:field xpath="small_vi_2_nl0_ae0ke0"/></xs:key>
<xs:key name="use_vnm_2_nl0_ce0paint_vnm_2_nl0_ae0ke0"><xs:selector xpath="./use_vnm_2_nl0_ce0"/><xs:field xpath="paint_vnm_2_nl0_ae0ke0"/></xs:key>
<xs:key name="collection_ad_3_nl0_ce0handle_ad_3_nl0_ae0ke0"><xs:selector xpath="./collection_ad_3_nl0_ce0"/><xs:field xpath="handle_ad_3_nl0_ae0ke0"/></xs:key>
<xs:key name="organization_vi_3_nl0_ce0stick_vi_3_nl0_ae0ke0"><xs:selector xpath="./organization_vi_3_nl0_ce0"/><xs:field xpath="stick_vi_3_nl0_ae0ke0"/></xs:key>
<xs:key name="crush_vnm_3_nl0_ce0treat_vnm_3_nl0_ae0ke0"><xs:selector xpath="./crush_vnm_3_nl0_ce0"/><xs:field xpath="treat_vnm_3_nl0_ae0ke0"/></xs:key>
<xs:key name="desire_ad_4_nl0_ce0last_ad_4_nl0_ae0ke0"><xs:selector xpath="./desire_ad_4_nl0_ce0"/><xs:field xpath="last_ad_4_nl0_ae0ke0"/></xs:key>
<xs:key name="flower_vi_4_nl0_ce0involve_vi_4_nl0_ae0ke0"><xs:selector xpath="./flower_vi_4_nl0_ce0"/><xs:field xpath="involve_vi_4_nl0_ae0ke0"/></xs:key>
<xs:key name="probable_vnm_4_nl0_ce0low_vnm_4_nl0_ae0ke0"><xs:selector xpath="./probable_vnm_4_nl0_ce0"/><xs:field xpath="low_vnm_4_nl0_ae0ke0"/></xs:key>
<xs:key name="sad_ad_5_nl0_ce0root_ad_5_nl0_ae0ke0"><xs:selector xpath="./sad_ad_5_nl0_ce0"/><xs:field xpath="root_ad_5_nl0_ae0ke0"/></xs:key>
<xs:key name="record_vi_5_nl0_ce0probable_vi_5_nl0_ae0ke0"><xs:selector xpath="./record_vi_5_nl0_ce0"/><xs:field xpath="probable_vi_5_nl0_ae0ke0"/></xs:key>
<xs:key name="sea_vnm_5_nl0_ce0delicate_vnm_5_nl0_ae0ke0"><xs:selector xpath="./sea_vnm_5_nl0_ce0"/><xs:field xpath="delicate_vnm_5_nl0_ae0ke0"/></xs:key>
<xs:key name="match_ad_6_nl0_ce0debts_ad_6_nl0_ae0ke0"><xs:selector xpath="./match_ad_6_nl0_ce0"/><xs:field xpath="debts_ad_6_nl0_ae0ke0"/></xs:key>
<xs:key name="selection_vi_6_nl0_ce0window_vi_6_nl0_ae0ke0"><xs:selector xpath="./selection_vi_6_nl0_ce0"/><xs:field xpath="window_vi_6_nl0_ae0ke0"/></xs:key>
<xs:key name="summer_vnm_6_nl0_ce0will_vnm_6_nl0_ae0ke0"><xs:selector xpath="./summer_vnm_6_nl0_ce0"/><xs:field xpath="will_vnm_6_nl0_ae0ke0"/></xs:key>
<xs:key name="common_ad_7_nl0_ce0inform_ad_7_nl0_ae0ke0"><xs:selector xpath="./common_ad_7_nl0_ce0"/><xs:field xpath="inform_ad_7_nl0_ae0ke0"/></xs:key>
<xs:key name="silver_vi_7_nl0_ce0tight_vi_7_nl0_ae0ke0"><xs:selector xpath="./silver_vi_7_nl0_ce0"/><xs:field xpath="tight_vi_7_nl0_ae0ke0"/></xs:key>
<xs:key name="shut_vnm_7_nl0_ce0experience_vnm_7_nl0_ae0ke0"><xs:selector xpath="./shut_vnm_7_nl0_ce0"/><xs:field xpath="experience_vnm_7_nl0_ae0ke0"/></xs:key>
<xs:key name="poison_ad_8_nl0_ce0opinion_ad_8_nl0_ae0ke0"><xs:selector xpath="./poison_ad_8_nl0_ce0"/><xs:field xpath="opinion_ad_8_nl0_ae0ke0"/></xs:key>
<xs:key name="jump_vi_8_nl0_ce0lift_vi_8_nl0_ae0ke0"><xs:selector xpath="./jump_vi_8_nl0_ce0"/><xs:field xpath="lift_vi_8_nl0_ae0ke0"/></xs:key>
<xs:key name="observation_vh_8_nl0_ce0like_vh_8_nl0_ae0"><xs:selector xpath="./observation_vh_8_nl0_ce0"/><xs:field xpath="like_vh_8_nl0_ae0"/></xs:key>
<xs:key name="opinion_ad_9_nl0_ce0prove_ad_9_nl0_ae0ke0"><xs:selector xpath="./opinion_ad_9_nl0_ce0"/><xs:field xpath="prove_ad_9_nl0_ae0ke0"/></xs:key>
<xs:key name="forgive_vi_9_nl0_ce0government_vi_9_nl0_ae0ke0"><xs:selector xpath="./forgive_vi_9_nl0_ce0"/><xs:field xpath="government_vi_9_nl0_ae0ke0"/></xs:key>
<xs:key name="connection_ad_10_nl0_ce0ring_ad_10_nl0_ae0ke0"><xs:selector xpath="./connection_ad_10_nl0_ce0"/><xs:field xpath="ring_ad_10_nl0_ae0ke0"/></xs:key>
<xs:key name="get_vi_10_nl0_ce0produce_vi_10_nl0_ae0ke0"><xs:selector xpath="./get_vi_10_nl0_ce0"/><xs:field xpath="produce_vi_10_nl0_ae0ke0"/></xs:key>
<xs:key name="require_vnm_10_nl0_ce0keep_vnm_10_nl0_ae0ke0"><xs:selector xpath="./require_vnm_10_nl0_ce0"/><xs:field xpath="keep_vnm_10_nl0_ae0ke0"/></xs:key>
</xs:element>
</xs:schema>
