demo/ontology-target-sharing/spicy/S_AD_VI_VH_VNM_5_1_2_0_1_2_1_1_1_25_25_60_0_0_1_0_1_0_0_0_0_1_1_1_1_2_Trg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="Target">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="compare_ad_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nut_ad_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slope_ad_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="measure_ad_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_ad_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cheese_ad_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_ad_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_ad_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wrong_vi_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="great_vi_1_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="affect_vi_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_vi_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="society_vi_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="past_vi_1_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="great_vi_1_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="warn_vi_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_vi_1_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="red_vi_1_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="report_vh_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="work_vh_1_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="describe_vh_1_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="night_vh_1_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="letter_vh_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="blue_vh_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="describe_vh_1_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="describe_vh_1_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="expansion_vnm_1_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="attention_vnm_1_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="different_vnm_1_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rest_vnm_1_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="pipe_vnm_1_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="reveal_vnm_1_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="oven_vnm_1_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="narrow_vnm_1_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_vnm_1_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="indicate_vnm_1_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="rest_vnm_1_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="place_vnm_1_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="future_ad_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stick_ad_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="twist_ad_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="account_ad_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chin_ad_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="swim_vi_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="small_vi_2_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brain_vi_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="place_vi_2_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="small_vi_2_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="branch_vi_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="discuss_vh_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="blow_vh_2_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="division_vh_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ready_vh_2_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="work_vh_2_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="involve_vh_2_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="property_vh_2_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gun_vh_2_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_vh_2_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="powder_vh_2_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="work_vh_2_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="work_vh_2_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="knee_vnm_2_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="paint_vnm_2_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="send_vnm_2_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="leave_vnm_2_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="draw_vnm_2_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_vnm_2_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="parallel_vnm_2_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="send_vnm_2_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_vnm_2_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="garden_ad_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="handle_ad_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="die_ad_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_ad_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brown_ad_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hit_ad_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paint_ad_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="decision_ad_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_ad_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="necessary_ad_3_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="chalk_vi_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stick_vi_3_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="slow_vi_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="word_vi_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="kind_vi_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="regular_vi_3_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stick_vi_3_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prove_vi_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ring_vi_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="early_vi_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="violent_vi_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="rod_vh_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="mind_vh_3_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="door_vh_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="charge_vh_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sweet_vh_3_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="silk_vh_3_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="certain_vh_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sugar_vh_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="collection_vh_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bent_vh_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sweet_vh_3_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sweet_vh_3_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="start_vnm_3_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="treat_vnm_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="political_vnm_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regular_vnm_3_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="fruit_vnm_3_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="language_vnm_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_vnm_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chalk_vnm_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="degree_vnm_3_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="science_vnm_3_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="regular_vnm_3_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="degree_vnm_3_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sleep_ad_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="last_ad_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="found_ad_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="clean_ad_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="count_vi_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="involve_vi_4_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pencil_vi_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grip_vi_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_vi_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="claim_vi_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="amount_vi_4_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="involve_vi_4_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="state_vi_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="egg_vi_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agency_vi_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complete_vi_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="make_vh_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="shake_vh_4_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vh_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vh_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="accept_vh_4_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="prevent_vh_4_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="leather_vh_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="distribution_vh_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gold_vh_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pain_vh_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="accept_vh_4_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="accept_vh_4_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="connect_vnm_4_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="low_vnm_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="butter_vnm_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stiff_vnm_4_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disease_vnm_4_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="copy_vnm_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thick_vnm_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="close_vnm_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="feeling_vnm_4_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="attraction_vnm_4_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stiff_vnm_4_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="feeling_vnm_4_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="theory_ad_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="root_ad_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="straight_ad_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_ad_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="question_ad_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="walk_ad_5_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="count_ad_5_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="involve_ad_5_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="explain_ad_5_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="settle_ad_5_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="head_vi_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="probable_vi_5_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="goat_vi_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="judge_vi_5_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="probable_vi_5_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pick_vi_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="boot_vh_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prose_vh_5_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_vh_5_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="dependent_vh_5_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="agencies_vh_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="flat_vh_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_vh_5_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_vh_5_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="speak_vnm_5_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="delicate_vnm_5_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="bath_vnm_5_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rhythm_vnm_5_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="place_vnm_5_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="call_vnm_5_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="road_vnm_5_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stomach_vnm_5_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="return_vnm_5_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="rhythm_vnm_5_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stomach_vnm_5_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="oven_ad_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="debts_ad_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="gain_ad_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="give_ad_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="animal_vi_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="window_vi_6_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="increase_vi_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="hate_vi_6_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="window_vi_6_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="female_vi_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="argue_vh_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="round_vh_6_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="win_vh_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="salt_vh_6_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="late_vh_6_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="act_vh_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="turn_vh_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="chin_vh_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="salt_vh_6_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="salt_vh_6_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="express_vnm_6_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="will_vnm_6_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="buy_vnm_6_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="tail_vnm_6_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wall_vnm_6_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="chain_vnm_6_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="appear_vnm_6_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="idea_vnm_6_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="clock_vnm_6_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="private_vnm_6_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="tail_vnm_6_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="clock_vnm_6_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="important_ad_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="inform_ad_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="space_ad_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="art_ad_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fly_ad_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="late_ad_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="support_ad_7_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="hammer_vh_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="connection_vh_7_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="heart_vh_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="seem_vh_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="church_vh_7_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="disgust_vh_7_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="disappear_vh_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="indicate_vh_7_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="awake_vh_7_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="church_vh_7_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="church_vh_7_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="foot_vnm_7_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="experience_vnm_7_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cover_vnm_7_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="prefer_vnm_7_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="earth_vnm_7_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="allow_vnm_7_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="eat_vnm_7_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="harbor_vnm_7_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="year_vnm_7_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prefer_vnm_7_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="harbor_vnm_7_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="bucket_ad_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="opinion_ad_8_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complain_ad_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="snake_ad_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="angle_ad_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sign_vi_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="lift_vi_8_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="discover_vi_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="touch_vi_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="settle_vi_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="bitter_vi_8_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="lift_vi_8_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="act_vi_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="winter_vi_8_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="net_vi_8_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="hollow_vi_8_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ring_vh_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="like_vh_8_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="trick_vh_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="soap_vh_8_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="fruit_vh_8_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="green_vh_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="jump_vh_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="enable_vh_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="soap_vh_8_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="soap_vh_8_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="committee_vnm_8_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="handle_ad_3_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="die_ad_3_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="worry_ad_3_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="brown_ad_3_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stay_vnm_8_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="needle_vnm_8_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="hit_ad_3_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paint_ad_3_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="decision_ad_3_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mind_ad_3_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shall_vnm_8_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="aim_vnm_8_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="stay_vnm_8_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="shall_vnm_8_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="paint_ad_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="prove_ad_9_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="base_ad_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="speak_ad_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="comb_ad_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="degree_ad_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="account_vi_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="government_vi_9_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="event_vi_9_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="sort_vi_9_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="fiction_vi_9_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="government_vi_9_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="mean_vi_9_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="desire_vi_9_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="paste_vi_9_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="round_vh_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="involve_vi_4_nl0_ae0ke0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="pencil_vi_4_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="grip_vi_4_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_vi_4_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="time_vh_9_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="soup_vh_9_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="claim_vi_4_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="state_vi_4_nl0_ae5" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="egg_vi_4_nl0_ae6" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="agency_vi_4_nl0_ae7" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complete_vi_4_nl0_ae8" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="time_vh_9_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="time_vh_9_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="beat_vnm_9_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="like_vh_8_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="trick_vh_8_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="regret_vnm_9_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="hammer_vnm_9_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="green_vh_8_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="jump_vh_8_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="enable_vh_8_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_vnm_9_nl1_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="cut_vnm_9_nl0_ce2" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="regret_vnm_9_nl0_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="train_vnm_9_nl1_ae0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="line_vi_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="produce_vi_10_nl0_ae0ke0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="complex_vi_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="sail_vi_10_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="produce_vi_10_nl0_ae0ke0Ref" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fork_vi_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="stop_vi_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="drink_vh_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ink_vh_10_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="conscious_vh_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="long_vh_10_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="destruction_vh_10_nl0_ce1" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="lead_vh_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="basin_vh_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="come_vh_10_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="long_vh_10_nl0_ae0JoinAttr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="long_vh_10_nl0_ae0JoinAttrRef" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="reply_vnm_10_nl0_ce0" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="insurance_vnm_10_nl0_ae0" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="rhythm_vnm_10_nl0_ae1" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="fiction_vnm_10_nl0_ae2" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="cook_vnm_10_nl0_ae3" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="thin_vnm_10_nl0_ae4" minOccurs="0" maxOccurs="1" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
<xs:key name="compare_ad_1_nl0_ce0nut_ad_1_nl0_ae0ke0"><xs:selector xpath="./compare_ad_1_nl0_ce0"/><xs:field xpath="nut_ad_1_nl0_ae0ke0"/></xs:key>
<xs:key name="wrong_vi_1_nl0_ce0great_vi_1_nl0_ae0ke0JoinAttr"><xs:selector xpath="./wrong_vi_1_nl0_ce0"/><xs:field xpath="great_vi_1_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="report_vh_1_nl0_ce0describe_vh_1_nl0_ae0JoinAttr"><xs:selector xpath="./report_vh_1_nl0_ce0"/><xs:field xpath="describe_vh_1_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="night_vh_1_nl0_ce1describe_vh_1_nl0_ae0JoinAttr"><xs:selector xpath="./night_vh_1_nl0_ce1"/><xs:field xpath="describe_vh_1_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="expansion_vnm_1_nl0_ce0rest_vnm_1_nl0_ae0"><xs:selector xpath="./expansion_vnm_1_nl0_ce0"/><xs:field xpath="rest_vnm_1_nl0_ae0"/></xs:key>
<xs:key name="pipe_vnm_1_nl0_ce1place_vnm_1_nl1_ae0"><xs:selector xpath="./pipe_vnm_1_nl0_ce1"/><xs:field xpath="place_vnm_1_nl1_ae0"/></xs:key>
<xs:key name="future_ad_2_nl0_ce0stick_ad_2_nl0_ae0ke0"><xs:selector xpath="./future_ad_2_nl0_ce0"/><xs:field xpath="stick_ad_2_nl0_ae0ke0"/></xs:key>
<xs:key name="swim_vi_2_nl0_ce0small_vi_2_nl0_ae0ke0JoinAttr"><xs:selector xpath="./swim_vi_2_nl0_ce0"/><xs:field xpath="small_vi_2_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="discuss_vh_2_nl0_ce0work_vh_2_nl0_ae0JoinAttr"><xs:selector xpath="./discuss_vh_2_nl0_ce0"/><xs:field xpath="work_vh_2_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="involve_vh_2_nl0_ce1work_vh_2_nl0_ae0JoinAttr"><xs:selector xpath="./involve_vh_2_nl0_ce1"/><xs:field xpath="work_vh_2_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="knee_vnm_2_nl0_ce0send_vnm_2_nl0_ae0"><xs:selector xpath="./knee_vnm_2_nl0_ce0"/><xs:field xpath="send_vnm_2_nl0_ae0"/></xs:key>
<xs:key name="leave_vnm_2_nl0_ce1regular_vnm_2_nl1_ae0"><xs:selector xpath="./leave_vnm_2_nl0_ce1"/><xs:field xpath="regular_vnm_2_nl1_ae0"/></xs:key>
<xs:key name="garden_ad_3_nl0_ce0handle_ad_3_nl0_ae0ke0"><xs:selector xpath="./garden_ad_3_nl0_ce0"/><xs:field xpath="handle_ad_3_nl0_ae0ke0"/></xs:key>
<xs:key name="chalk_vi_3_nl0_ce0stick_vi_3_nl0_ae0ke0JoinAttr"><xs:selector xpath="./chalk_vi_3_nl0_ce0"/><xs:field xpath="stick_vi_3_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="rod_vh_3_nl0_ce0sweet_vh_3_nl0_ae0JoinAttr"><xs:selector xpath="./rod_vh_3_nl0_ce0"/><xs:field xpath="sweet_vh_3_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="silk_vh_3_nl0_ce1sweet_vh_3_nl0_ae0JoinAttr"><xs:selector xpath="./silk_vh_3_nl0_ce1"/><xs:field xpath="sweet_vh_3_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="start_vnm_3_nl0_ce0regular_vnm_3_nl0_ae0"><xs:selector xpath="./start_vnm_3_nl0_ce0"/><xs:field xpath="regular_vnm_3_nl0_ae0"/></xs:key>
<xs:key name="fruit_vnm_3_nl0_ce1degree_vnm_3_nl1_ae0"><xs:selector xpath="./fruit_vnm_3_nl0_ce1"/><xs:field xpath="degree_vnm_3_nl1_ae0"/></xs:key>
<xs:key name="sleep_ad_4_nl0_ce0last_ad_4_nl0_ae0ke0"><xs:selector xpath="./sleep_ad_4_nl0_ce0"/><xs:field xpath="last_ad_4_nl0_ae0ke0"/></xs:key>
<xs:key name="count_vi_4_nl0_ce0involve_vi_4_nl0_ae0ke0JoinAttr"><xs:selector xpath="./count_vi_4_nl0_ce0"/><xs:field xpath="involve_vi_4_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="make_vh_4_nl0_ce0accept_vh_4_nl0_ae0JoinAttr"><xs:selector xpath="./make_vh_4_nl0_ce0"/><xs:field xpath="accept_vh_4_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="prevent_vh_4_nl0_ce1accept_vh_4_nl0_ae0JoinAttr"><xs:selector xpath="./prevent_vh_4_nl0_ce1"/><xs:field xpath="accept_vh_4_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="connect_vnm_4_nl0_ce0stiff_vnm_4_nl0_ae0"><xs:selector xpath="./connect_vnm_4_nl0_ce0"/><xs:field xpath="stiff_vnm_4_nl0_ae0"/></xs:key>
<xs:key name="disease_vnm_4_nl0_ce1feeling_vnm_4_nl1_ae0"><xs:selector xpath="./disease_vnm_4_nl0_ce1"/><xs:field xpath="feeling_vnm_4_nl1_ae0"/></xs:key>
<xs:key name="theory_ad_5_nl0_ce0root_ad_5_nl0_ae0ke0"><xs:selector xpath="./theory_ad_5_nl0_ce0"/><xs:field xpath="root_ad_5_nl0_ae0ke0"/></xs:key>
<xs:key name="head_vi_5_nl0_ce0probable_vi_5_nl0_ae0ke0JoinAttr"><xs:selector xpath="./head_vi_5_nl0_ce0"/><xs:field xpath="probable_vi_5_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="boot_vh_5_nl0_ce0train_vh_5_nl0_ae0JoinAttr"><xs:selector xpath="./boot_vh_5_nl0_ce0"/><xs:field xpath="train_vh_5_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="dependent_vh_5_nl0_ce1train_vh_5_nl0_ae0JoinAttr"><xs:selector xpath="./dependent_vh_5_nl0_ce1"/><xs:field xpath="train_vh_5_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="speak_vnm_5_nl0_ce0rhythm_vnm_5_nl0_ae0"><xs:selector xpath="./speak_vnm_5_nl0_ce0"/><xs:field xpath="rhythm_vnm_5_nl0_ae0"/></xs:key>
<xs:key name="place_vnm_5_nl0_ce1stomach_vnm_5_nl1_ae0"><xs:selector xpath="./place_vnm_5_nl0_ce1"/><xs:field xpath="stomach_vnm_5_nl1_ae0"/></xs:key>
<xs:key name="oven_ad_6_nl0_ce0debts_ad_6_nl0_ae0ke0"><xs:selector xpath="./oven_ad_6_nl0_ce0"/><xs:field xpath="debts_ad_6_nl0_ae0ke0"/></xs:key>
<xs:key name="animal_vi_6_nl0_ce0window_vi_6_nl0_ae0ke0JoinAttr"><xs:selector xpath="./animal_vi_6_nl0_ce0"/><xs:field xpath="window_vi_6_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="argue_vh_6_nl0_ce0salt_vh_6_nl0_ae0JoinAttr"><xs:selector xpath="./argue_vh_6_nl0_ce0"/><xs:field xpath="salt_vh_6_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="late_vh_6_nl0_ce1salt_vh_6_nl0_ae0JoinAttr"><xs:selector xpath="./late_vh_6_nl0_ce1"/><xs:field xpath="salt_vh_6_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="express_vnm_6_nl0_ce0tail_vnm_6_nl0_ae0"><xs:selector xpath="./express_vnm_6_nl0_ce0"/><xs:field xpath="tail_vnm_6_nl0_ae0"/></xs:key>
<xs:key name="wall_vnm_6_nl0_ce1clock_vnm_6_nl1_ae0"><xs:selector xpath="./wall_vnm_6_nl0_ce1"/><xs:field xpath="clock_vnm_6_nl1_ae0"/></xs:key>
<xs:key name="important_ad_7_nl0_ce0inform_ad_7_nl0_ae0ke0"><xs:selector xpath="./important_ad_7_nl0_ce0"/><xs:field xpath="inform_ad_7_nl0_ae0ke0"/></xs:key>
<xs:key name="hammer_vh_7_nl0_ce0church_vh_7_nl0_ae0JoinAttr"><xs:selector xpath="./hammer_vh_7_nl0_ce0"/><xs:field xpath="church_vh_7_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="disgust_vh_7_nl0_ce1church_vh_7_nl0_ae0JoinAttr"><xs:selector xpath="./disgust_vh_7_nl0_ce1"/><xs:field xpath="church_vh_7_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="foot_vnm_7_nl0_ce0prefer_vnm_7_nl0_ae0"><xs:selector xpath="./foot_vnm_7_nl0_ce0"/><xs:field xpath="prefer_vnm_7_nl0_ae0"/></xs:key>
<xs:key name="earth_vnm_7_nl0_ce1harbor_vnm_7_nl1_ae0"><xs:selector xpath="./earth_vnm_7_nl0_ce1"/><xs:field xpath="harbor_vnm_7_nl1_ae0"/></xs:key>
<xs:key name="bucket_ad_8_nl0_ce0opinion_ad_8_nl0_ae0ke0"><xs:selector xpath="./bucket_ad_8_nl0_ce0"/><xs:field xpath="opinion_ad_8_nl0_ae0ke0"/></xs:key>
<xs:key name="sign_vi_8_nl0_ce0lift_vi_8_nl0_ae0ke0JoinAttr"><xs:selector xpath="./sign_vi_8_nl0_ce0"/><xs:field xpath="lift_vi_8_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="ring_vh_8_nl0_ce0soap_vh_8_nl0_ae0JoinAttr"><xs:selector xpath="./ring_vh_8_nl0_ce0"/><xs:field xpath="soap_vh_8_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="fruit_vh_8_nl0_ce1soap_vh_8_nl0_ae0JoinAttr"><xs:selector xpath="./fruit_vh_8_nl0_ce1"/><xs:field xpath="soap_vh_8_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="committee_vnm_8_nl0_ce0stay_vnm_8_nl0_ae0"><xs:selector xpath="./committee_vnm_8_nl0_ce0"/><xs:field xpath="stay_vnm_8_nl0_ae0"/></xs:key>
<xs:key name="needle_vnm_8_nl0_ce1shall_vnm_8_nl1_ae0"><xs:selector xpath="./needle_vnm_8_nl0_ce1"/><xs:field xpath="shall_vnm_8_nl1_ae0"/></xs:key>
<xs:key name="paint_ad_9_nl0_ce0prove_ad_9_nl0_ae0ke0"><xs:selector xpath="./paint_ad_9_nl0_ce0"/><xs:field xpath="prove_ad_9_nl0_ae0ke0"/></xs:key>
<xs:key name="account_vi_9_nl0_ce0government_vi_9_nl0_ae0ke0JoinAttr"><xs:selector xpath="./account_vi_9_nl0_ce0"/><xs:field xpath="government_vi_9_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="round_vh_9_nl0_ce0time_vh_9_nl0_ae0JoinAttr"><xs:selector xpath="./round_vh_9_nl0_ce0"/><xs:field xpath="time_vh_9_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="soup_vh_9_nl0_ce1time_vh_9_nl0_ae0JoinAttr"><xs:selector xpath="./soup_vh_9_nl0_ce1"/><xs:field xpath="time_vh_9_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="beat_vnm_9_nl0_ce0regret_vnm_9_nl0_ae0"><xs:selector xpath="./beat_vnm_9_nl0_ce0"/><xs:field xpath="regret_vnm_9_nl0_ae0"/></xs:key>
<xs:key name="hammer_vnm_9_nl0_ce1train_vnm_9_nl1_ae0"><xs:selector xpath="./hammer_vnm_9_nl0_ce1"/><xs:field xpath="train_vnm_9_nl1_ae0"/></xs:key>
<xs:key name="line_vi_10_nl0_ce0produce_vi_10_nl0_ae0ke0JoinAttr"><xs:selector xpath="./line_vi_10_nl0_ce0"/><xs:field xpath="produce_vi_10_nl0_ae0ke0JoinAttr"/></xs:key>
<xs:key name="drink_vh_10_nl0_ce0long_vh_10_nl0_ae0JoinAttr"><xs:selector xpath="./drink_vh_10_nl0_ce0"/><xs:field xpath="long_vh_10_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="destruction_vh_10_nl0_ce1long_vh_10_nl0_ae0JoinAttr"><xs:selector xpath="./destruction_vh_10_nl0_ce1"/><xs:field xpath="long_vh_10_nl0_ae0JoinAttr"/></xs:key>
<xs:key name="reply_vnm_10_nl0_ce0thin_vnm_10_nl0_ae4"><xs:selector xpath="./reply_vnm_10_nl0_ce0"/><xs:field xpath="thin_vnm_10_nl0_ae4"/></xs:key>
<xs:keyref refer="wrong_vi_1_nl0_ce0great_vi_1_nl0_ae0ke0JoinAttr" name="fkpast_vi_1_nl0_ce1great_vi_1_nl0_ae0ke0Refwrong_vi_1_nl0_ce0great_vi_1_nl0_ae0ke0JoinAttr"><xs:selector xpath="./past_vi_1_nl0_ce1"/><xs:field xpath="great_vi_1_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="report_vh_1_nl0_ce0describe_vh_1_nl0_ae0JoinAttr" name="fknight_vh_1_nl0_ce1describe_vh_1_nl0_ae0JoinAttrRefreport_vh_1_nl0_ce0describe_vh_1_nl0_ae0JoinAttr"><xs:selector xpath="./night_vh_1_nl0_ce1"/><xs:field xpath="describe_vh_1_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="expansion_vnm_1_nl0_ce0rest_vnm_1_nl0_ae0" name="fkindicate_vnm_1_nl0_ce2rest_vnm_1_nl0_ae0Refexpansion_vnm_1_nl0_ce0rest_vnm_1_nl0_ae0"><xs:selector xpath="./indicate_vnm_1_nl0_ce2"/><xs:field xpath="rest_vnm_1_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="pipe_vnm_1_nl0_ce1place_vnm_1_nl1_ae0" name="fkindicate_vnm_1_nl0_ce2place_vnm_1_nl1_ae0Refpipe_vnm_1_nl0_ce1place_vnm_1_nl1_ae0"><xs:selector xpath="./indicate_vnm_1_nl0_ce2"/><xs:field xpath="place_vnm_1_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="swim_vi_2_nl0_ce0small_vi_2_nl0_ae0ke0JoinAttr" name="fkplace_vi_2_nl0_ce1small_vi_2_nl0_ae0ke0Refswim_vi_2_nl0_ce0small_vi_2_nl0_ae0ke0JoinAttr"><xs:selector xpath="./place_vi_2_nl0_ce1"/><xs:field xpath="small_vi_2_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="discuss_vh_2_nl0_ce0work_vh_2_nl0_ae0JoinAttr" name="fkinvolve_vh_2_nl0_ce1work_vh_2_nl0_ae0JoinAttrRefdiscuss_vh_2_nl0_ce0work_vh_2_nl0_ae0JoinAttr"><xs:selector xpath="./involve_vh_2_nl0_ce1"/><xs:field xpath="work_vh_2_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="knee_vnm_2_nl0_ce0send_vnm_2_nl0_ae0" name="fkparallel_vnm_2_nl0_ce2send_vnm_2_nl0_ae0Refknee_vnm_2_nl0_ce0send_vnm_2_nl0_ae0"><xs:selector xpath="./parallel_vnm_2_nl0_ce2"/><xs:field xpath="send_vnm_2_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="leave_vnm_2_nl0_ce1regular_vnm_2_nl1_ae0" name="fkparallel_vnm_2_nl0_ce2regular_vnm_2_nl1_ae0Refleave_vnm_2_nl0_ce1regular_vnm_2_nl1_ae0"><xs:selector xpath="./parallel_vnm_2_nl0_ce2"/><xs:field xpath="regular_vnm_2_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="chalk_vi_3_nl0_ce0stick_vi_3_nl0_ae0ke0JoinAttr" name="fkregular_vi_3_nl0_ce1stick_vi_3_nl0_ae0ke0Refchalk_vi_3_nl0_ce0stick_vi_3_nl0_ae0ke0JoinAttr"><xs:selector xpath="./regular_vi_3_nl0_ce1"/><xs:field xpath="stick_vi_3_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="rod_vh_3_nl0_ce0sweet_vh_3_nl0_ae0JoinAttr" name="fksilk_vh_3_nl0_ce1sweet_vh_3_nl0_ae0JoinAttrRefrod_vh_3_nl0_ce0sweet_vh_3_nl0_ae0JoinAttr"><xs:selector xpath="./silk_vh_3_nl0_ce1"/><xs:field xpath="sweet_vh_3_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="start_vnm_3_nl0_ce0regular_vnm_3_nl0_ae0" name="fkscience_vnm_3_nl0_ce2regular_vnm_3_nl0_ae0Refstart_vnm_3_nl0_ce0regular_vnm_3_nl0_ae0"><xs:selector xpath="./science_vnm_3_nl0_ce2"/><xs:field xpath="regular_vnm_3_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="fruit_vnm_3_nl0_ce1degree_vnm_3_nl1_ae0" name="fkscience_vnm_3_nl0_ce2degree_vnm_3_nl1_ae0Reffruit_vnm_3_nl0_ce1degree_vnm_3_nl1_ae0"><xs:selector xpath="./science_vnm_3_nl0_ce2"/><xs:field xpath="degree_vnm_3_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="oven_ad_6_nl0_ce0debts_ad_6_nl0_ae0ke0" name="fksleep_ad_4_nl0_ce0last_ad_4_nl0_ae0ke0oven_ad_6_nl0_ce0debts_ad_6_nl0_ae0ke0"><xs:selector xpath="./sleep_ad_4_nl0_ce0"/><xs:field xpath="last_ad_4_nl0_ae0ke0"/></xs:keyref>
<xs:keyref refer="count_vi_4_nl0_ce0involve_vi_4_nl0_ae0ke0JoinAttr" name="fkamount_vi_4_nl0_ce1involve_vi_4_nl0_ae0ke0Refcount_vi_4_nl0_ce0involve_vi_4_nl0_ae0ke0JoinAttr"><xs:selector xpath="./amount_vi_4_nl0_ce1"/><xs:field xpath="involve_vi_4_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="make_vh_4_nl0_ce0accept_vh_4_nl0_ae0JoinAttr" name="fkprevent_vh_4_nl0_ce1accept_vh_4_nl0_ae0JoinAttrRefmake_vh_4_nl0_ce0accept_vh_4_nl0_ae0JoinAttr"><xs:selector xpath="./prevent_vh_4_nl0_ce1"/><xs:field xpath="accept_vh_4_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="connect_vnm_4_nl0_ce0stiff_vnm_4_nl0_ae0" name="fkattraction_vnm_4_nl0_ce2stiff_vnm_4_nl0_ae0Refconnect_vnm_4_nl0_ce0stiff_vnm_4_nl0_ae0"><xs:selector xpath="./attraction_vnm_4_nl0_ce2"/><xs:field xpath="stiff_vnm_4_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="disease_vnm_4_nl0_ce1feeling_vnm_4_nl1_ae0" name="fkattraction_vnm_4_nl0_ce2feeling_vnm_4_nl1_ae0Refdisease_vnm_4_nl0_ce1feeling_vnm_4_nl1_ae0"><xs:selector xpath="./attraction_vnm_4_nl0_ce2"/><xs:field xpath="feeling_vnm_4_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="head_vi_5_nl0_ce0probable_vi_5_nl0_ae0ke0JoinAttr" name="fkjudge_vi_5_nl0_ce1probable_vi_5_nl0_ae0ke0Refhead_vi_5_nl0_ce0probable_vi_5_nl0_ae0ke0JoinAttr"><xs:selector xpath="./judge_vi_5_nl0_ce1"/><xs:field xpath="probable_vi_5_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="boot_vh_5_nl0_ce0train_vh_5_nl0_ae0JoinAttr" name="fkdependent_vh_5_nl0_ce1train_vh_5_nl0_ae0JoinAttrRefboot_vh_5_nl0_ce0train_vh_5_nl0_ae0JoinAttr"><xs:selector xpath="./dependent_vh_5_nl0_ce1"/><xs:field xpath="train_vh_5_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="speak_vnm_5_nl0_ce0rhythm_vnm_5_nl0_ae0" name="fkreturn_vnm_5_nl0_ce2rhythm_vnm_5_nl0_ae0Refspeak_vnm_5_nl0_ce0rhythm_vnm_5_nl0_ae0"><xs:selector xpath="./return_vnm_5_nl0_ce2"/><xs:field xpath="rhythm_vnm_5_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="place_vnm_5_nl0_ce1stomach_vnm_5_nl1_ae0" name="fkreturn_vnm_5_nl0_ce2stomach_vnm_5_nl1_ae0Refplace_vnm_5_nl0_ce1stomach_vnm_5_nl1_ae0"><xs:selector xpath="./return_vnm_5_nl0_ce2"/><xs:field xpath="stomach_vnm_5_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="reply_vnm_10_nl0_ce0thin_vnm_10_nl0_ae4" name="fkanimal_vi_6_nl0_ce0window_vi_6_nl0_ae0ke0JoinAttrreply_vnm_10_nl0_ce0thin_vnm_10_nl0_ae4"><xs:selector xpath="./animal_vi_6_nl0_ce0"/><xs:field xpath="window_vi_6_nl0_ae0ke0JoinAttr"/></xs:keyref>
<xs:keyref refer="round_vh_9_nl0_ce0time_vh_9_nl0_ae0JoinAttr" name="fkanimal_vi_6_nl0_ce0increase_vi_6_nl0_ae1round_vh_9_nl0_ce0time_vh_9_nl0_ae0JoinAttr"><xs:selector xpath="./animal_vi_6_nl0_ce0"/><xs:field xpath="increase_vi_6_nl0_ae1"/></xs:keyref>
<xs:keyref refer="animal_vi_6_nl0_ce0window_vi_6_nl0_ae0ke0JoinAttr" name="fkhate_vi_6_nl0_ce1window_vi_6_nl0_ae0ke0Refanimal_vi_6_nl0_ce0window_vi_6_nl0_ae0ke0JoinAttr"><xs:selector xpath="./hate_vi_6_nl0_ce1"/><xs:field xpath="window_vi_6_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="argue_vh_6_nl0_ce0salt_vh_6_nl0_ae0JoinAttr" name="fklate_vh_6_nl0_ce1salt_vh_6_nl0_ae0JoinAttrRefargue_vh_6_nl0_ce0salt_vh_6_nl0_ae0JoinAttr"><xs:selector xpath="./late_vh_6_nl0_ce1"/><xs:field xpath="salt_vh_6_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="express_vnm_6_nl0_ce0tail_vnm_6_nl0_ae0" name="fkprivate_vnm_6_nl0_ce2tail_vnm_6_nl0_ae0Refexpress_vnm_6_nl0_ce0tail_vnm_6_nl0_ae0"><xs:selector xpath="./private_vnm_6_nl0_ce2"/><xs:field xpath="tail_vnm_6_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="wall_vnm_6_nl0_ce1clock_vnm_6_nl1_ae0" name="fkprivate_vnm_6_nl0_ce2clock_vnm_6_nl1_ae0Refwall_vnm_6_nl0_ce1clock_vnm_6_nl1_ae0"><xs:selector xpath="./private_vnm_6_nl0_ce2"/><xs:field xpath="clock_vnm_6_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="hammer_vh_7_nl0_ce0church_vh_7_nl0_ae0JoinAttr" name="fkdisgust_vh_7_nl0_ce1church_vh_7_nl0_ae0JoinAttrRefhammer_vh_7_nl0_ce0church_vh_7_nl0_ae0JoinAttr"><xs:selector xpath="./disgust_vh_7_nl0_ce1"/><xs:field xpath="church_vh_7_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="foot_vnm_7_nl0_ce0prefer_vnm_7_nl0_ae0" name="fkyear_vnm_7_nl0_ce2prefer_vnm_7_nl0_ae0Reffoot_vnm_7_nl0_ce0prefer_vnm_7_nl0_ae0"><xs:selector xpath="./year_vnm_7_nl0_ce2"/><xs:field xpath="prefer_vnm_7_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="earth_vnm_7_nl0_ce1harbor_vnm_7_nl1_ae0" name="fkyear_vnm_7_nl0_ce2harbor_vnm_7_nl1_ae0Refearth_vnm_7_nl0_ce1harbor_vnm_7_nl1_ae0"><xs:selector xpath="./year_vnm_7_nl0_ce2"/><xs:field xpath="harbor_vnm_7_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="sign_vi_8_nl0_ce0lift_vi_8_nl0_ae0ke0JoinAttr" name="fkbitter_vi_8_nl0_ce1lift_vi_8_nl0_ae0ke0Refsign_vi_8_nl0_ce0lift_vi_8_nl0_ae0ke0JoinAttr"><xs:selector xpath="./bitter_vi_8_nl0_ce1"/><xs:field xpath="lift_vi_8_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="ring_vh_8_nl0_ce0soap_vh_8_nl0_ae0JoinAttr" name="fkfruit_vh_8_nl0_ce1soap_vh_8_nl0_ae0JoinAttrRefring_vh_8_nl0_ce0soap_vh_8_nl0_ae0JoinAttr"><xs:selector xpath="./fruit_vh_8_nl0_ce1"/><xs:field xpath="soap_vh_8_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="committee_vnm_8_nl0_ce0stay_vnm_8_nl0_ae0" name="fkaim_vnm_8_nl0_ce2stay_vnm_8_nl0_ae0Refcommittee_vnm_8_nl0_ce0stay_vnm_8_nl0_ae0"><xs:selector xpath="./aim_vnm_8_nl0_ce2"/><xs:field xpath="stay_vnm_8_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="needle_vnm_8_nl0_ce1shall_vnm_8_nl1_ae0" name="fkaim_vnm_8_nl0_ce2shall_vnm_8_nl1_ae0Refneedle_vnm_8_nl0_ce1shall_vnm_8_nl1_ae0"><xs:selector xpath="./aim_vnm_8_nl0_ce2"/><xs:field xpath="shall_vnm_8_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="account_vi_9_nl0_ce0government_vi_9_nl0_ae0ke0JoinAttr" name="fkfiction_vi_9_nl0_ce1government_vi_9_nl0_ae0ke0Refaccount_vi_9_nl0_ce0government_vi_9_nl0_ae0ke0JoinAttr"><xs:selector xpath="./fiction_vi_9_nl0_ce1"/><xs:field xpath="government_vi_9_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="round_vh_9_nl0_ce0time_vh_9_nl0_ae0JoinAttr" name="fksoup_vh_9_nl0_ce1time_vh_9_nl0_ae0JoinAttrRefround_vh_9_nl0_ce0time_vh_9_nl0_ae0JoinAttr"><xs:selector xpath="./soup_vh_9_nl0_ce1"/><xs:field xpath="time_vh_9_nl0_ae0JoinAttrRef"/></xs:keyref>
<xs:keyref refer="beat_vnm_9_nl0_ce0regret_vnm_9_nl0_ae0" name="fkcut_vnm_9_nl0_ce2regret_vnm_9_nl0_ae0Refbeat_vnm_9_nl0_ce0regret_vnm_9_nl0_ae0"><xs:selector xpath="./cut_vnm_9_nl0_ce2"/><xs:field xpath="regret_vnm_9_nl0_ae0Ref"/></xs:keyref>
<xs:keyref refer="hammer_vnm_9_nl0_ce1train_vnm_9_nl1_ae0" name="fkcut_vnm_9_nl0_ce2train_vnm_9_nl1_ae0Refhammer_vnm_9_nl0_ce1train_vnm_9_nl1_ae0"><xs:selector xpath="./cut_vnm_9_nl0_ce2"/><xs:field xpath="train_vnm_9_nl1_ae0Ref"/></xs:keyref>
<xs:keyref refer="line_vi_10_nl0_ce0produce_vi_10_nl0_ae0ke0JoinAttr" name="fksail_vi_10_nl0_ce1produce_vi_10_nl0_ae0ke0Refline_vi_10_nl0_ce0produce_vi_10_nl0_ae0ke0JoinAttr"><xs:selector xpath="./sail_vi_10_nl0_ce1"/><xs:field xpath="produce_vi_10_nl0_ae0ke0Ref"/></xs:keyref>
<xs:keyref refer="drink_vh_10_nl0_ce0long_vh_10_nl0_ae0JoinAttr" name="fkdestruction_vh_10_nl0_ce1long_vh_10_nl0_ae0JoinAttrRefdrink_vh_10_nl0_ce0long_vh_10_nl0_ae0JoinAttr"><xs:selector xpath="./destruction_vh_10_nl0_ce1"/><xs:field xpath="long_vh_10_nl0_ae0JoinAttrRef"/></xs:keyref>
</xs:element>
</xs:schema>
